html {
  width: 100% !important;
}
* {
  box-sizing: border-box;
  text-align: justify;
}
#body {
  position: relative;
}
body section {
  font-size: 1.15rem;
}

.no-style, .no-style:hover {
  text-decoration: inherit;
  color: inherit;
}









/*****************/

.bd-gray-100 {
  color:#000 !important;
  background-color:#f8f9fa
}
.bd-gray-300 {
  color:#000 !important;
  background-color:#dee2e6
}
.bd-gray-500 {
  color:#000;
  background-color:#adb5bd
}
.bd-gray-700 {
  color:#fff;
  background-color:#495057
}
.bd-gray-900 {
  color:#fff;
  background-color:#212529
}

.bd-orange-500 {
  color: black !important;
  background-color: #fd7e14;
}
.bd-yellow-500 {
  color:#000 !important;
  background-color:#ffc107
}
.bd-green-500 {
  color: white !important;
  background-color: #198754;
}
.bd-teal-500 {
  color: black !important;
  background-color: #20c997;
}
